<style>


</style>
<script>
  $(document).ready(function() {
    $('.step-2').hide();

    $('.book-now').bind('click', function() {
      $('.step-2').show();
      $('.step-1').hide();
    });

    $('.datepicker').datetimepicker();

    $('.inactive').attr('disabled', true);
  });

</script>

<div class="container-fluid step-1">
  <h1>Step 1: Choose a service</h1>

  <% @services_available.each do |service| %>
    <div class="row">
      <div class="col-sm-2">
        <button class="btn btn-default book-now">Book Now</button>
      </div>
      <div class="col-sm-2">
        <%= service.name %>
      </div>
      <div class="col-sm-2">
        <%= service.price %>
      </div>
      <div class="col-sm-2">
        <%= service.minutes_duration %>
      </div>
      <%= form_for(service) do |f| %>
        <div class="col-sm-2">
          <%= f.hidden_field :id %>
        </div>
      <% end %>
    </div>
    <hr>
  <% end %>
</div>

<div class="container-fluid step-2">
  <h1>Step 2</h1>
  <div class="row">
    <div class="well col-sm-8">
      <div class="col-sm-3">
        service name
      </div>
      <div class="col-sm-3">
        service price
      </div>
      <div class="col-sm-3">
        service duration
      </div>
      <div class="col-sm-3">
        <%= link_to 'Change', :pass_companies_location_path %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3" id="datepicker"></div>
    <div class="col-sm-1">
      <a class="btn btn-default inactive">9 am</a>
      <a class="btn btn-default inactive">9:30 am</a>
      <a class="btn btn-default book-time">10 am</a>
      <a class="btn btn-default">10:30 am</a>
      <a class="btn btn-default inactive">11 am</a>
      <a class="btn btn-default inactive">11:30 am</a>
      <a class="btn btn-default">12 pm</a>
      <a class="btn btn-default inactive">12:30 pm</a>
    </div>
    <div class="col-sm-1">
      <a class="btn btn-default">1 pm</a>
      <a class="btn btn-default">1:30 pm</a>
      <a class="btn btn-default">2 pm</a>
      <a class="btn btn-default inactive">2:30 pm</a>
      <a class="btn btn-default">3 pm</a>
      <a class="btn btn-default">3:30 pm</a>
      <a class="btn btn-default">4 pm</a>
      <a class="btn btn-default">4:30 pm</a>
    </div>
  </div>
</div>

<div class="comtainer-fluid step 3">
  <h1>Step 3</h1>

  <div class="well col-sm-8">
    <div class="row">
      <div class="col-sm-3">
        service name
      </div>
      <div class="col-sm-3">
        service price
      </div>
      <div class="col-sm-3">
        service duration
      </div>
      <div class="col-sm-3">
        <%= link_to 'Change', :pass_companies_location_path %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        Date and Time
      </div>
    </div>
  </div>

  
</div>

